.navbar-brand img{
    margin-bottom: 10px !important;
}


.jumbotron .container{
    height: 700px !important;
   z-index: -100;
    
}

.jumbotron{
    
}

.howdy{
    background-repeat: no-repeat;
    z-index: 2;
    margin-top: 100px;
    
}

.container p{
    margin-top: 50px;
}

.avatar{ 
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0  5px 15px 0px rgba(0, 0, 0, .6);
    animation: float 3s ease-in-out infinite;
    margin-left: 100px;

}


/*About Me*/

:root {
    --brown-hue: 180;
    --blue-hue: 240;
    /*--green-hue: 150;*/
    --pink-hue: 300;
  }

  
.lqd-column{
    background-color:black;
    height: 400px;
    z-index: 2;
}

.card-image{
    margin-top: -100px;
}

/*Cards*/
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 400px;
    grid-gap: 2rem;
    max-width: calc(300px * 3 + (2rem * 5));
    margin: 0 auto;
    padding: 2rem;
    /*padding-left: 70px;*/
    border-radius: 50px;
    
  }
  
  .card {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 2rem 2rem 0;
    line-height: 1.5;
    box-shadow: 0px 1px 2em hsla(35, 68%, 12%, 0.4);
    border-radius: 50px;
   
    
  }

  
  .card .title {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    letter-spacing: -1px;
    letter-spacing: -1px;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 900;
    letter-spacing: -1px;
    color: white;
  }
  
  
  .card .subtitle {
    margin-top: 0;
    margin-bottom: 0.25rem;
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
  }

  
  .card .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 0%) !important;
    background-size: cover;
    background-position: center;
    z-index: -1;
    border-radius: 50px;
    
  }


  
  .card .bg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 200px hsl(0, 0%, 0%) !important;
    opacity: 0;
    transition: .25s opacity ease-in-out;
    border-radius: 50px;
  }
  
  .card .bg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    
  }

  
.card-black{
    background-image: linear-gradient(
        20deg, 
        hsla(180, 100%, 50%, 0.95) 0%,  
        hsla(180, 90%, 50%, 0.65) 30%, 
        hsla(180, 90%, 80%, .5) 65%
      ) !important;
      background-color: hsl(0, 0%, 0%) !important;

}


.card-blue {
    background-image: linear-gradient(
      35deg, 
      hsla(var(--blue-hue), 70%, 20%, 0.6) 0%, 
      hsla(var(--blue-hue), 40%, 53%, 0.4) 30%, 
      hsla(var(--blue-hue), 20%, 16%, 0) 60%
    ) !important ;
    background-color: hsl(0, 0%, 0%) !important;
  }

  
  .card:hover .bg:before {
    opacity: 1;
  }

  .card-black:hover{
    background-image: url(https://media.giphy.com/media/uHEqSttWHv476/giphy.gif) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 500px !important;
  
  }


  
  /* COLOR VARIANT - BLUE */
  .card.blue .bg {
    background-color: hsl(var(--blue-hue), 68%, 33%);
    color: white;
   
  }

  .card.blue:hover{
    background-image: url(https://media.giphy.com/media/4F6GwakTxDW8M/giphy.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 700px;
    color: white;

}

.card-blue:hover{
    background-image: url(https://media.giphy.com/media/4F6GwakTxDW8M/giphy.gif) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 700px !important;
    color: white !important;

}
    
  
  .card-blue.bg:after {
    background-image: linear-gradient(
      35deg, 
      hsla(var(--blue-hue), 70%, 20%, 0.6) 0%, 
      hsla(var(--blue-hue), 40%, 53%, 0.4) 30%, 
      hsla(var(--blue-hue), 20%, 16%, 0) 60%
    ) !important;
    background-color: hsl(0, 0%, 0%) !important;
  }
  

 

  /* COLOR VARIANT - PINK*/
  
  .card-pink .bg {
    background-color: hsl(var(--pink-hue), 100%, 80%) !important;
    

  }

  .card-pink{
    background-image:
    linear-gradient(35deg, 
      hsla(var(--pink-hue), 80%, 20%, 0.6) 0%, 
      hsla(var(--pink-hue), 40%, 50%, 0.4) 30%, 
      hsla(var(--pink-hue), 50%, 66%, 0) 60%) !important;   
      background-color: hsl(var(--pink-hue), 100%, 80%) !important;
  }
  
  .card-pink .bg:after {
    background-image:
    linear-gradient(35deg, 
      hsla(var(--pink-hue), 80%, 20%, 0.6) 0%, 
      hsla(var(--pink-hue), 40%, 50%, 0.4) 30%, 
      hsla(var(--pink-hue), 50%, 66%, 0) 60%) !important;   
      background-color: hsl(0, 0%, 0%) !important;
  }

  .card-pink:hover{
    background-image: url(https://media.giphy.com/media/5UGV59IygrAC2KCQDi/giphy.gif) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 1000px !important;
    color: white;
  
  }

/*END Cards*/
